<div class = "container d-flex" style="flex-direction:column;border-radius:5px; background-color: 
#011d26; width:40%; height:300px;">
    <div class="header" style="padding:5px 10px;display:flex;width:100%; height:50px;">
        <div class="headerleft" style="color:white; width:90%;">
           Steve
        </div>
        <div class="headerright" style="width:30px;color:white; display: flex; align-items: center; justify-content: flex-end;">
            <i class="fa fa-arrow-trend-up flame-icon"></i>

          </div>
    </div>
    <div class="body" style="padding:5px 10px;color:white;">
        Main body post content...
    </div>
</div>